<% @restaurants.each do |restaurant| %>	

		<!-- <img></img> -->
		<p><%= link_to restaurant[:name], restaurant_path(restaurant) %></p>
		<ul>
			<li><%= restaurant[:description] %></li>
			<li><%= restaurant[:address] %></li>

		</ul>

<% end %>

<ul>
	<% @categories.each do |cat| %>
		<li><%= link_to cat.name, category_path(cat) %></li>
	<% end %>
</ul>

